- show_tags = local_assigns.key?(:show_tags) ? show_tags : true

- if account.present?
  li.no-dot
    - if account.id.present?
      | @#{link_to account.username, account.path, class: 'p-author'}
    - else
      = account.username_with_at

li
  - if story.article?
    span.label.label--secondary.up = t('text')
  - else
    = story.url_domain

- if show_tags
  = render 'stories/_story/tags', presenter: presenter
