.table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  width: 100%;
}

.table th {
  border-bottom-width: .1rem;
  font-weight: 600;
}

.table td,
.table th {
  border-bottom: .05rem solid #dadee4;
  padding: .6rem .4rem;
}
