.container
  .columns
    .column.col-6.col-mx-auto
      h2.mb-4.text-center
        = Setting.site_title

      .card
        .card-body

          = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
            = f.hidden_field :reset_password_token

            = f.input :password, label: t('.new_password'), hint: t('.minimum_password_length', minimum_password_length: @minimum_password_length)
            = f.input :password_confirmation

            = f.button :submit, t('.change_my_password'), class: 'btn-block'
