div(data-controller="profile")
  = simple_form_for @account, url: settings_profile_path do |f|
    .box.--touches-header.mb-3
      .box__body
        = f.input :display_name
        = f.input :bio

        .grid
          .col
            .d-none
              = f.input :avatar, as: :hidden, input_html: { value: @account.cached_avatar_data }
            = f.input :avatar, as: :file

          .col
            - if @account.avatar_data?
              = image_tag @account.avatar_url(:size_400), size: '100x100', class: 'avatar avatar--xl'
              = f.input :remove_avatar, as: :boolean

    = f.button :submit

    a.btn.btn--danger.float-right(data-action="profile#showDeleteModal")
      = t('.delete_account')

  .modal(data-target="profile.deleteAccountModal" data-action="profile#hideDeleteModal")
    .modal__content
      .modal__header
        h4.modal__title
          = t('.delete_account_title')

        button.modal__close-btn(data-action="profile#hideDeleteModal" aria-label=t('.close'))
          span.icon
            i.fe.fe-x

      .modal__body
        .text-component.margin-bottom--md
            p
              = t('.delete_account_warning')

        = simple_form_for @destroy, url: settings_profile_path, method: :delete, id: 'delete-form' do |f|
          .form-group
            = f.input :current_password, input_html: { data: { target: 'profile.passwordField' } }

          .form-group
            = f.submit "Confirm", class: "btn btn--danger"
